# PORT
PORT= 3000

# ENV
NODE_ENV=production

# Database 
DATABASE_URL=

REDIS_URL=redis://localhost:6379

# AI Services
GROQ_API_KEY=
ANTHROPIC_API_KEY=

# Webhook Authentication
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# WhatsApp Notifications
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
YOUR_WHATSAPP_NUMBER=

# Email Notifications
GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_TO=

# Security
ARCJET_KEY=
DASHBOARD_URL=
