# PORT
PORT= 3000

# ENV
NODE_ENV=production

# Database 
DATABASE_URL=

REDIS_URL=redis://localhost:6379
ANTHROPIC_API_KEY=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
YOUR_WHATSAPP_NUMBER=
GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_TO=
ARCJET_KEY=
DASHBOARD_URL=
